* {
    box-sizing: border-box;
}
header {
background-image: url('./images/CSsimage /Object.png'); 
  background-size: cover; 
  background-position: center;
  height: 800px;
 color: beige;
}
body {
margin: 0px;
padding-bottom: 0px; 
}
 h1 {
    margin-bottom: 0px;
    margin-top: -640px;
text-align: center;
font-size: 80px;
    color:white;
    font-weight: bolder;

}
.div {
    margin-bottom: 0px;
}
span {
color: white;
    text-align: center;
}
.item {
  margin-right: 20px; 
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;

}
.etm {
margin-left: 250px;
}

.span1 {
     margin-left: 10px;
    
}
.year {
    padding-left: 230px;
}

.navbar {
display: flex;
justify-content: space-between;
    list-style: none;
    
}
li {
    display: inline;
   
}
nav {
    margin-right: 70px;
}
a:link {
  color: white;
text-decoration-line: none;
  margin-right: 0pxx;  
  padding-right: 10px;
  font-size: small;
  font-family: cursive;
}
.img {
    margin-left: 100px;
    margin-top: 10px;
    width: 110px;
    height: 20px;
}
button {
    background-color: darkorchid;
    color: wheat;
    height: 50px;
    width: 190px;
    border-radius: 25px;
    border-color: transparent;
    box-shadow: none;
    margin-left: 530px;
    margin-top: 40px;
    
   
}
#fly {
    display: flex;
   
    flex-direction: row;
    justify-content: space-evenly;
color:white;
margin-left: 20px;
margin-bottom: 0px;
padding-bottom: 0px;
}
.mg {
border-radius: 50%;
height: 50%;
}


#im {
    color: darkorchid;
}
.learn {
    text-align: center;
    color: white;
    padding-top: 90px;
}
.section {
    background-color: rgb(183, 83, 233);
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;
    height: 200px;
}
#mg {
    border-radius: 50%;
    width: 130px;
    padding-top: 35px;
    padding-bottom:50px;
   

    
}
.hk {
    padding-left: 50px;
     padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
color: antiquewhite;
}
.head {
    padding-bottom: 0px;
    margin-bottom: -15px;
}
.h {
    margin-bottom:  0px;
}
.l {
margin-top: 0px;
}
.mm {
    text-align: center;
    color: black;
    padding-bottom: 50px;
    padding-top: 50px;
}
.kk {
    background-color: antiquewhite;

}
.o {
    color: darkorchid;
}
    
   .ww {
    text-align: center;
   }
.Div {
    display: flex;
    flex-direction: row;

  gap: 20px;         /* space between items */
  justify-content: center;  /* center the items */
  flex-wrap: wrap; 
   
}
.item {
    text-align: center;
    width: 150px;   /* change size as you want */
  height: auto;
  border-radius: 10px;
}
.iop {
    width: 20%;
    border-radius: 5%;
    width: 150px;   /* change size as you want */
  height: auto;
  border-radius: 10px;
}
.ml{
    display: inline-block;

    justify-content: space-between;
    color: darkorchid;

}
.ee {
    width: 10%;
}
.yyyy {
    background-color: rgb(17, 17, 44); 
    width: 100%;
    color: antiquewhite;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 40px;
}
.kkl {


background-color: rgb(17, 17, 44); 
    width: 100%;
    color: antiquewhite;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 40px;
}
.sec {
    background-color: rgb(17, 17, 44);
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
justify-items:  center;

   gap:70px;
   height: 100px;
    color:antiquewhite;
    padding-top: 100px;
    padding-bottom: 100px;
}
.ii {
    background-color: rgb(17, 17, 44);
   flex-direction: column;
;
   justify-content: center;
   padding-bottom: 100px;
}
.t {
    background-color:  rgb(17, 17, 44);
}
.fqa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    padding-left: 30px;

}
#myid {
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
}
.tt {
    margin-top: 20px;
    font-weight: lighter;
    
}
 .rr {
    margin-bottom: 40px;
    font-weight: lighter;
    
 }
 .foot {
    background-color:  rgb(17, 17, 44);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    color: white;

 padding-left: 40px;
 padding-top: 20px;
 padding-right: 40px;
 margin: 0px;
    
 }
 .imgb {
    width:18%;
    height: 30%;
 }
 .last {
    display: flex;
    justify-content: center;
    color: rgb(59, 59, 63);
    background-color: rgb(17, 17, 44);
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
 }