body {
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 215, 206);
}
header {
    padding: 0;
}
main {
display: flex;
flex-direction:row;
flex: auto;
border: 2px;
}
article {
  flex: 2; 
  overflow-y: auto;
}
aside {
    flex:1;
 background-color: rgb(143, 95, 32);
    overflow-y: auto;
}
table, th, td {
  border: 1px solid;
  border-width: 2px;
}

